<div class="container-fluid">
    <form [formGroup]="workerForm">
        <div class="form-group">
            <label for="workername">Имя</label>
            <input type="text" class="form-control" formControlName="name" id="workername">
        </div>
        <div class="form-group">
            <label for="workersurname">Фамилия</label>
            <input type="text" class="form-control" formControlName="surname" id="workersurname">
        </div>
        <div class="form-group">
            <label for="workerpatronymic">Отчество</label>
            <input type="text" class="form-control" formControlName="patronymic" id="workerpatronymic">
        </div>
        <div class="form-group">
            <label for="workername">Телефон</label>
            <input type="text" class="form-control" formControlName="phone" id="workername"
                [textMask]="{mask: maskPhone, showMask: true}">
        </div>
        <div class="form-group">
            <label for="workeremail">Эл. почта</label>
            <input type="text" class="form-control" formControlName="email" id="workeremail">
        </div>
        <div class="form-group">
            <label for="workerdate">Дата рождения</label>
            <input type="text" class="form-control" formControlName="date" id="workerdate"
                [textMask]="{mask: maskDate, showMask: true}">
        </div>
        <div class="form-group">
            <label for="workerrole">Отдел</label>
            <select class="form-control custom-select" formControlName="role" id="workerrole">
                <option value="0">IT отдел</option>
                <option value="1">Отдел продаж</option>
                <option value="2">Отдел доставки</option>
                <option value="3">Юридический отдел</option>
            </select>
        </div>
        <button class="btn btn-outline-primary mr-4 mb-4" [disabled]="workerForm.invalid"
            (click)="onSave()">Сохранить</button>
        <button class="btn btn-outline-danger mb-4" *ngIf="id != null" (click)="onDelete()">Удалить</button>
    </form>
</div>